<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Edit product</h1>
    <p>
        <a href="/products">List Product</a>
    </p>
    <th:block th:if="${ms}">
        <p th:text="${ms}"></p>
    </th:block>
    <form action="/edit-product" method="post" th:object="${product}">
        <input type="hidden" th:field="*{code}">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Loại hàng</td>
                <td>
                    <select th:field="*{productLine}">
                        <option th:each="p : ${productLine}" th:value="${p.id}" th:text="${p.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
            <tr>
                <td>Số lương</td>
                <td><input type="text" th:field="*{amount}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea th:field="*{description}" th:rows="15" th:cols="40"></textarea> </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Modify"></td>
            </tr>
        </table>
    </form>
</body>
</html>