<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
    <h2>List product</h2>
    <p>
        <a href="/create-product">Create new product</a>
    </p>

    <form>
        <input type="text" name="s">
        <input type="submit" value="Search">
    </form>
    <table border="1">
        <tr>
            <td>Tên hàng</td>
            <td>Loại hàng</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each=" p : ${product}">
            <tr>
                <td th:text="${p.name}"></td>
                <td th:text="${p.productLine.name}"></td>
                <td><a th:href="@{/edit-product/__${p.code}__}">Edit</a></td>
                <td><a th:href="@{/delete-product/__${p.code}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>